.Person {
  width: 66%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  text-align: center;
  padding: 1rem;
}

.Person,
div {
  margin: 1rem;
}

.Person h2 {
  font-size: 1rem;
  text-transform: capitalize;
}
